.card {
  padding: 20px;
  background-color: #483247 !important;
  color: white !important;
}
.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.priority-photo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.card-description{
  max-height: 50px; /* Set the desired maximum height for 3 lines of text */
}
.margin-top{
  margin-top: 3%;
}
.header-image {
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
  margin-right: 8px; /* Add some spacing between the image and text */
}

.search-input{
  width: 500px;
}
h1{
  color: white !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
