<mat-card class="card" cdkDrag>

  <mat-card-title>
    {{ card.title }}

  </mat-card-title>
  <mat-card-content>
    <div class="row">
      <div class="col-9">
        <p class="card-description">Update user model, add new property - Name, Age, Last Update. Make them readonly</p>
      </div>
      <div class="col-3">
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZmWkJDlW0kurZbXR5NZmJRmfVTF6KOBjHsQ&usqp=CAU" alt="User Photo" class="user-photo ">
      </div>
    </div>

  </mat-card-content>
</mat-card>
