<div class="centered-container">
  <div class="centered-content">
    <!-- Text in the first row -->
    <div class="row">
      <h1 class="big-title-text app-white-text">Welcome to My Eucalyptyka</h1>
    </div>
    <!-- Links/Buttons in the second row -->
    <div class="button-row row">
      <button mat-raised-button class="app-main-pink app-white-text" routerLink="/sign-in">Sign In</button>
      <button mat-raised-button class="app-main-pink app-white-text" routerLink="/sign-up">Sign Up</button>
    </div>
  </div>
</div>
