.example-spacer {
  flex: 1 1 auto;
}
.header {
  position: fixed;
  top: 0;
  z-index: 999; /* Make sure the header appears above other content */
  background-color: #483247;
  color: white;
  resize: both;
  overflow: auto;
  width: 100%;

}
