<div class="container">

  <div class="row">
    <div class="col-12 d-flex text-center">
      <div>
        <h2 align="center" style="color: #ee6e73;">Sing In</h2>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>

        <div class="row center-align">
          <div class="input-field">
            <button class="red lighten-2 btn-large waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>
