
<div class="signin-container">
  <mat-card class="signin-card app-main-color-background app-white-text">
    <div class="">
      <div class="">
        <mat-card-header class="app-center">
          <mat-card-title>Sign Up</mat-card-title>
        </mat-card-header>
      </div>
    </div>
    <div class="">
      <mat-card-content>
        <div class="">
          <mat-form-field class="margin">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First name">
          </mat-form-field>

          <mat-form-field class="margin">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last name">
          </mat-form-field>
        </div>

        <div class="">
          <mat-form-field class="mat-form-field" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Enter your email">
            <mat-icon class="app-main-color" matSuffix>mail</mat-icon>
          </mat-form-field>
        </div>
        <div class="">

          <mat-form-field class="mat-form-field" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter your password">
            <mat-icon class="app-main-color" matSuffix>password</mat-icon>
          </mat-form-field>

          <mat-form-field class="mat-form-field" appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" placeholder="Enter your password again">
            <mat-icon class="app-main-color" matSuffix>password</mat-icon>
          </mat-form-field>
        </div>
      </mat-card-content>
    </div>

    <div class="">
      <mat-card-actions class="app-center">
        <button mat-raised-button class="app-main-pink app-white-text">Sign Up</button>
        <a mat-button class="app-white-text" routerLink="/sign-in">Sign In</a>
      </mat-card-actions>
    </div>

    <div class="">
      <div class="forgot-password-link">
        <a routerLink="#">Forgot Password?</a>
      </div>
    </div>

  </mat-card>
</div>

