<div class="description-panel">
  <div class="row">
    <p class="app-white-text" style="font-size: 28px; font-weight: bold;">Description: </p>
  </div>
  <div class="row">
    <p class="app-white-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam felis nec eleifend mollis. Quisque non nisi nec neque laoreet aliquam. Nullam sit amet magna sed metus tristique dictum. Etiam fringilla quam in lorem volutpat interdum. Sed nec aliquet turpis. Cras auctor, tortor vel sagittis elementum, velit dui tincidunt eros, at varius dui nulla eget orci. Ut lacinia dapibus purus, non hendrerit ex fermentum et. Fusce non est a tellus viverra bibendum nec vel magna. Sed suscipit, arcu non vehicula consequat, ante odio finibus mauris, in suscipit mi felis nec ex. Integer et est ipsum. Suspendisse ut augue vel mi bibendum vehicula eu quis velit. Sed hendrerit lacus ac malesuada facilisis. Nam tristique tortor elit, nec malesuada sem mollis vel. Proin a felis a mauris iaculis dignissim.

      Vestibulum eu lacus malesuada, luctus lorem at, semper odio. Quisque sit amet ipsum quis felis elementum eleifend eu non odio. Suspendisse sit amet felis eu nisl bibendum ullamcorper at a nunc. Suspendisse efficitur leo elit, eget suscipit nisi viverra ut. Nullam id tincidunt tellus, eget dapibus eros. Aenean non ex nisi. Vivamus accumsan odio id odio laoreet pellentesque. Sed eu enim luctus, malesuada nisl vel, tristique odio. Pellentesque sed faucibus quam, non volutpat orci. Donec bibendum erat eget nisl varius, eu cursus dolor facilisis. Maecenas ultrices lectus ut justo vestibulum, ac cursus nulla efficitur.

      Phasellus ac lectus nec nisi facilisis efficitur eget id urna. Ut vel rhoncus neque. Integer fringilla nibh sed libero eleifend, nec ornare odio pulvinar. Nulla facilisi. Aenean eu sem vel lectus scelerisque tincidunt vel eu quam. Cras malesuada augue ac ex volutpat, eget iaculis orci aliquet. Sed non tortor magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed id ullamcorper nisi, nec suscipit urna. Fusce dapibus mi eget odio tincidunt malesuada.

      Donec ut enim eu sem tincidunt bibendum. Sed eu justo dolor. Etiam luctus ligula quis libero faucibus, nec iaculis elit volutpat. Curabitur et lacus vitae elit sollicitudin condimentum at a nulla. Cras eu dapibus libero, at fermentum turpis. Proin ac quam id nulla elementum fringilla. In ut fermentum nunc, sit amet suscipit ex. Nunc vitae euismod odio. In consectetur, est a euismod feugiat, dui ex finibus odio, vel vestibulum nisl elit vel nisl. Integer a sem sed est dictum blandit.
    </p>
  </div>
</div>
