<mat-card class="example-card" style="" routerLink="project-details">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="app-project-card-title">{{name}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img class="card-image" mat-card-image src="{{icon}}">
  <mat-card-content class="mat-card-content">
    <p class="app-description">
      {{description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
