.app-table{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}
mat-grid-tile {
  /*border: solid 2px;*/
}
/*app-projects-card{*/
/*  height: 100%;*/
/*  width: 100%;*/
/*}*/
.row{
  margin-top: 10%;
}
.round-button {
  position: fixed;
  top: 100px; /* Adjust as needed for your design */
  right: 50px; /* Adjust as needed for your design */
  background-color: #ee6e73 !important;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 40px;
  cursor: pointer;
}
