<div class="app-table">
  <div class="container container-fluid">
    <div class="row">
      <div class="col-7 d-flex justify-content-end">
        <mat-form-field class="mat-form-field" appearance="fill" style="width: 400px; color: #483247">
          <mat-label style=" color: #483247">Find project</mat-label>
          <input matInput type="email" placeholder="Enter project name">
          <mat-icon class="app-main-color" matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-5 d-flex justify-content-start">
        <button mat-raised-button class="app-main-pink app-white-text" style="height:50px">
          <mat-icon style="color: white" class="app-white-text" matSuffix>search</mat-icon>
          <span style="font-size: 20px">Find</span>
        </button>
      </div>
    </div>
  </div>
<mat-grid-list cols="3" rowHeight="600px">
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
</mat-grid-list>
</div>


<!--<div class="container-fluid" style="margin-top: 10%; padding-left: 10%; padding-right: 10%;">-->
<!--  <div class="row">-->
<!--    <div class="col-4 d-flex justify-content-center">-->
<!--          <app-projects-card>-->
<!--          </app-projects-card>-->
<!--    </div>-->
<!--    <div class="col-4 d-flex justify-content-center">-->
<!--      <app-projects-card>-->
<!--      </app-projects-card>-->
<!--    </div>-->
<!--    <div class="col-4 d-flex justify-content-center">-->
<!--      <app-projects-card>-->
<!--      </app-projects-card>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-4 d-flex justify-content-center">-->
<!--      <app-projects-card>-->
<!--      </app-projects-card>-->
<!--    </div>-->
<!--    <div class="col-4 d-flex justify-content-center">-->
<!--      <app-projects-card>-->
<!--      </app-projects-card>-->
<!--    </div>-->
<!--    <div class="col-4 d-flex justify-content-center">-->
<!--      <app-projects-card>-->
<!--      </app-projects-card>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
