<div class="table">
<mat-grid-list cols="3" rowHeight="600px">
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-projects-card>
    </app-projects-card>
  </mat-grid-tile>
</mat-grid-list>
</div>
