.table{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}
mat-grid-tile {
  /*border: solid 2px;*/
}
/*app-projects-card{*/
/*  height: 100%;*/
/*  width: 100%;*/
/*}*/
