.example-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  height: 100%;
}

.example-sidenav {
  padding: 20px;
  background-color: #483247;
  color: white;
  height: auto;
  position: fixed;
}
