.example-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  height: 100%;
}

.example-sidenav {
  padding: 60px;
  background-color: #483247;
  color: white;
  height: auto;
  position: fixed;
  text-align: center;
}

.app-button-sign-in {
  height: 50px;
  width: 150px;
}

.app-button-menu {
  height: 30px;
  width: 150px;
}
.app-margin-Bottom{
  margin-bottom: 5%;
}

.app-menu-title-text{
  font-size: 28px;
  margin-bottom: 25px;
}
.bigger-icon {
  transform: scale(1.5); /* Adjust the scale factor as needed */
}
