<!--<app-header></app-header>-->
<!--&lt;!&ndash;<div class="container-fluid animation-container">&ndash;&gt;-->
<!--<div class="container-fluid animation-container" >-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->
<!--<app-footer></app-footer>-->


<mat-drawer-container class="animation-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="row">
      <h1 style="font-size: 48px !important; margin-top: 1px !important; margin-bottom: 40% !important;">Options</h1>
    </div>
    <div class="row">
      <button mat-button class="app-white-text app-menu-title-text">
        About us
        <mat-icon class="bigger-icon">info</mat-icon>
      </button >
    </div>
    <div class="row">
      <button mat-button class="app-white-text app-menu-title-text">
        <span>Contact us</span>
        <mat-icon class="bigger-icon">contact_support</mat-icon>
      </button >
    </div>

    <div class="row" style="position: absolute; left: 23%; bottom: 10% !important;">
      <button mat-raised-button class="app-main-pink app-white-text app-button-sign-in">
        Sign In
      </button>
      <p>or</p>
      <button mat-raised-button class="app-main-pink app-white-text app-button-sign-in">
        Sign Up
      </button>
    </div>

  </mat-drawer>

  <div class="example-sidenav-content">
    <app-header [drawer]=drawer></app-header>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</mat-drawer-container>

